<div class="w-full sm:w-64 absolute sm:relative bg-gray-800 shadow sm:h-full flex-col justify-between sm:flex">
  <div class="flex flex-col w-full sm:w-64 text-gray-700 bg-white flex-shrink-0">
    <div class="flex-shrink-0 px-8 py-4 flex flex-row items-center justify-between border-b">
      <a
        href="#"
        class="
          text-lg
          font-semibold
          tracking-widest
          text-gray-900
          uppercase
          rounded-lg
          focus:outline-none
          focus:shadow-outline
        "
      >
        Stilo
      </a>
      <button class="rounded-lg sm:hidden rounded-lg focus:outline-none focus:shadow-outline" (click)="toggle()">
        <img *ngIf="!opened" src="assets/media/icons/menu.svg" class="w-6 h-6" />
        <img *ngIf="opened" src="assets/media/icons/close.svg" class="w-6 h-6" />
      </button>
    </div>
    <nav class="flex-grow sm:block px-4 pb-4 sm:pb-0 sm:overflow-y-auto" [class]="{ block: opened, hidden: !opened }">
      <ul>
        <app-sidenav-item
          *ngFor="let sidenavItem of sidenavItems"
          [sidenavItem]="sidenavItem"
          (sidenavItemClick)="toggle()"
        ></app-sidenav-item>
      </ul>
    </nav>
  </div>
</div>
