<div class="flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div
        class="
          shadow
          border-b border-gray-200
          sm:rounded-lg
          overflow-y-auto
          scrollbar-w-2 scrollbar-track-gray-lighter scrollbar-thumb-rounded scrollbar-thumb-gray
          lg:max-h-sm
          max-h-screen
        "
      >
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th
                *ngFor="let column of columns"
                class="
                  sm:sticky
                  sm:top-0
                  bg-gray-50
                  px-6
                  py-3
                  text-left text-xs
                  font-medium
                  text-gray-500
                  uppercase
                  tracking-wider
                "
              >
                {{ column }}
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngFor="let row of rows">
              <td *ngFor="let column of columns" class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ row[column] }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
